description: "Comprehensive AI Testing with JSON-based prompts and assertions"

providers:
  - file://Providers/all-providers.yaml
vars:
  testData: file://day_1_data.json
  factual: {{testData.factual}}
prompts: {{factual.performance_consistency.prompt}}

tests:
  # Factual tests
  - description: "Test factual by changing to one of the 7 types of tests"
    vars:
      prompt: "{{testData.factual.performance_consistency.prompt}}"
      rubric: "{{testData.factual.performance_consistency.assertion.value}}"
    prompt: "{{prompt}}"
    assert:
      - type: llm-rubric
        value: "{{rubric}}"
      - type: javascript
        value: |
          const prompt = context.vars.prompt;
          const rubric = context.vars.rubric;
          const factual = context.vars.factual;  // Changed this line
          console.log('Prompt:', prompt);
          console.log('Rubric:', rubric);
          console.log('Factual Data:', factual);  // Changed this line
          return true;
  # - description: "Test reasoning"
  #   vars:
  #     prompt: "{{testData.reasoning.bias_fairness.prompt}}"
  #     rubric: "{{testData.reasoning.bias_fairness.assertion.value}}"
  #   prompt: "{{prompt}}"
  #   assert:
  #     - type: llm-rubric
  #       value: "{{rubric}}"

  # - description: "Test safety"
  #   vars:
  #     prompt: "{{testData.safety.bias_fairness.prompt}}"
  #     rubric: "{{testData.safety.bias_fairness.assertion.value}}"
  #   prompt: "{{prompt}}"
  #   assert:
  #     - type: llm-rubric
  #       value: "{{rubric}}"
